:root {
    --blue: #0a74da;
    --dark-blue: #052d58;
    --white: #fff;
    --grey: #e8e8e8;
}





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    scroll-behavior: smooth
}

body {
    background:;
    color: var(--dark-blue);
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; /* sends video behind your content */
}

.video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* makes video fill the screen */
}


/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    color: var(--white);
    position: sticky;
    top: 0;
}

header .logo {
    font-size: 22px;
    font-weight: 700;
}

header .logo span {
    color: var(--blue);
}

nav a {
    color: var(--white);
    margin-left: 20px;
    text-decoration: none;
}

nav a:hover {
    color: var(--blue);
}

/* HERO */
#hero {
    text-align: center;
    padding: 120px 20px;
    color: white;
}

#hero h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

#hero h1 span {
    color: var(--dark-blue);
}

.btn {
    display: inline-block;
    margin-top: 20px;
    background: var(--dark-blue);
    color: white;
    padding: 12px 25px;
    border-radius: 6px;
    text-decoration: none;
}

.btn:hover {
    background: #021b38;
}

/* CONTAINERS */
.container {
    padding: 60px 50px;
}
#sobre{
    color:#fff;
}


h2 {
    font-size: 32px;
    margin-bottom: 25px;
}

/* SKILLS */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
}

.skill {
    background: var(--grey);
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    font-weight: 600;
}

/* PROJECTS */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.project-card {
    background: var(--grey);
    padding: 20px;
    border-radius: 8px;
}

.project-card a {
    color: var(--blue);
    text-decoration: none;
    font-weight: 600;
}

footer {
    text-align: center;
    padding: 20px;
    background: var(--dark-blue);
    color: white;
    margin-top: 40px;
}

.sobre-content {
    display: flex;
    align-items: center;
    gap: 40px;
}

.sobre-img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid var(--blue);
}
/*CONTACT ME FORM*/

.container-contact{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

.container-form{
  
  display: flex;
  justify-content: center;
}

.contact-box{
    width: 400px;
}

.contact-box {
  width: 380px;
  padding: 30px 28px;
  border-radius: 25px;
  box-shadow: 
    inset 0 0 15px rgba(255, 255, 255, 0.03),
    0 20px 40px rgba(0, 0, 0, 0.5);
  color: #fff;
}

.contact-box h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 28px;
  font-weight: bold;
}

.contact-box label {
  font-size: 18px;
  display: block;
  margin-bottom: 6px;
  margin-top: 18px;
}

.contact-box input,
.contact-box textarea {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  background: linear-gradient(145deg, #1b2b3d, #0f1c2b);
  border: 1px solid rgba(255, 255, 255, 0.1);
  outline: none;
  color: #fff;
  font-size: 15px;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
}

.contact-box input:focus,
.contact-box textarea:focus {
  border-color: #3b82f6;
}

.contact-box button {
  width: 100%;
  margin-top: 25px;
  padding: 14px;
  border-radius: 12px;
  border: none;
  background: linear-gradient(145deg, #1f3550, #14283d);
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(0,0,0,0.4);
  transition: 0.3s;
}

.contact-box button:hover {
  background: linear-gradient(145deg, #2b4b75, #1a3555);
  transform: translateY(-1px);
}
